@font-face {
    font-family: "Yandex Sans Text";
    src: url("@/common/assets/fonts/yandex/YandexSansText-Thin.eot");
    src: local("Yandex Sans Text Thin"), local("YandexSansText-Thin"),
    url("@/common/assets/fonts/yandex/YandexSansText-Thin.eot") format("embedded-opentype"),
    url("@/common/assets/fonts/yandex/YandexSansText-Thin.woff2") format("woff2"),
    url("@/common/assets/fonts/yandex/YandexSansText-Thin.woff") format("woff"),
    url("@/common/assets/fonts/yandex/YandexSansText-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Yandex Sans Display";
    src: url("@/common/assets/fonts/yandex/YandexSansDisplay-Regular.eot");
    src: local("Yandex Sans Display Regular"), local("YandexSansDisplay-Regular"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Regular.eot") format("embedded-opentype"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Regular.woff2") format("woff2"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Regular.woff") format("woff"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Yandex Sans Text";
    src: url("@/common/assets/fonts/yandex/YandexSansText-RegularItalic.eot");
    src: local("Yandex Sans Text Regular Italic"), local("YandexSansText-RegularItalic"),
    url("@/common/assets/fonts/yandex/YandexSansText-RegularItalic.eot") format("embedded-opentype"),
    url("@/common/assets/fonts/yandex/YandexSansText-RegularItalic.woff2") format("woff2"),
    url("@/common/assets/fonts/yandex/YandexSansText-RegularItalic.woff") format("woff"),
    url("@/common/assets/fonts/yandex/YandexSansText-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Yandex Sans Display";
    src: url("@/common/assets/fonts/yandex/YandexSansDisplay-RegularItalic.eot");
    src: local("Yandex Sans Display Regular Italic"), local("YandexSansDisplay-RegularItalic"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-RegularItalic.eot") format("embedded-opentype"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-RegularItalic.woff2") format("woff2"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-RegularItalic.woff") format("woff"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-RegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Yandex Sans Display";
    src: url("@/common/assets/fonts/yandex/YandexSansDisplay-Light.eot");
    src: local("Yandex Sans Display Light"), local("YandexSansDisplay-Light"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Light.eot") format("embedded-opentype"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Light.woff2") format("woff2"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Light.woff") format("woff"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Yandex Sans Text";
    src: url("@/common/assets/fonts/yandex/YandexSansText-Regular.eot");
    src: local("Yandex Sans Text Regular"), local("YandexSansText-Regular"),
    url("@/common/assets/fonts/yandex/YandexSansText-Regular.eot") format("embedded-opentype"),
    url("@/common/assets/fonts/yandex/YandexSansText-Regular.woff2") format("woff2"),
    url("@/common/assets/fonts/yandex/YandexSansText-Regular.woff") format("woff"),
    url("@/common/assets/fonts/yandex/YandexSansText-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Yandex Sans Text";
    src: url("@/common/assets/fonts/yandex/YandexSansText-Light.eot");
    src: local("Yandex Sans Text Light"), local("YandexSansText-Light"),
    url("@/common/assets/fonts/yandex/YandexSansText-Light.eot") format("embedded-opentype"),
    url("@/common/assets/fonts/yandex/YandexSansText-Light.woff2") format("woff2"),
    url("@/common/assets/fonts/yandex/YandexSansText-Light.woff") format("woff"),
    url("@/common/assets/fonts/yandex/YandexSansText-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Yandex Sans Display";
    src: url("@/common/assets/fonts/yandex/YandexSansDisplay-Bold.eot");
    src: local("Yandex Sans Display Bold"), local("YandexSansDisplay-Bold"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Bold.eot") format("embedded-opentype"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Bold.woff2") format("woff2"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Bold.woff") format("woff"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Yandex Sans Display";
    src: url("@/common/assets/fonts/yandex/YandexSansDisplay-Thin.eot");
    src: local("Yandex Sans Display Thin"), local("YandexSansDisplay-Thin"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Thin.eot") format("embedded-opentype"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Thin.woff2") format("woff2"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Thin.woff") format("woff"),
    url("@/common/assets/fonts/yandex/YandexSansDisplay-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Yandex Sans Text";
    src: url("@/common/assets/fonts/yandex/YandexSansText-Bold.eot");
    src: local("Yandex Sans Text Bold"), local("YandexSansText-Bold"),
    url("@/common/assets/fonts/yandex/YandexSansText-Bold.eot") format("embedded-opentype"),
    url("@/common/assets/fonts/yandex/YandexSansText-Bold.woff2") format("woff2"),
    url("@/common/assets/fonts/yandex/YandexSansText-Bold.woff") format("woff"),
    url("@/common/assets/fonts/yandex/YandexSansText-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Yandex Sans Text";
    src: url("@/common/assets/fonts/yandex/YandexSansText-Medium.eot");
    src: local("Yandex Sans Text Medium"), local("YandexSansText-Medium"),
    url("@/common/assets/fonts/yandex/YandexSansText-Medium.eot") format("embedded-opentype"),
    url("@/common/assets/fonts/yandex/YandexSansText-Medium.woff2") format("woff2"),
    url("@/common/assets/fonts/yandex/YandexSansText-Medium.woff") format("woff"),
    url("@/common/assets/fonts/yandex/YandexSansText-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

