body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-main);
    background-color: var(--color-background);
}

.actual__header {
    font-size: var(--font-size-header);
    font-weight: 500;
    line-height: var(--font-size-header);
    letter-spacing: -0.02em;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    display: flex;
    align-items: center;
    position: relative;
}

.actual__header::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-gray);
    margin-left: var(--margin-xl);
}

.left__side {
    width: 100%;
    max-width: var(--card-max-width);
}

.right__side {
    width: 100%;
    max-width: var(--popular-card-max-width);
}

.container {
    max-width: var(--max-width-container);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: var(--margin-xl);
}

/* Карточки */
.cards__actual {
    display: flex;
    flex-direction: column;
}

.card__actual {
    display: flex;
    gap: var(--margin-medium);
    max-width: var(--card-max-width);
    width: 100%;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: var(--padding-xl);
    margin-bottom: var(--margin-xl);
}

.card__actual__image {
    max-width: var(--card-image-max-width);
    width: 100%;
    max-height: var(--card-image-max-height);
    height: 100%;
}

.card__photo__actual {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.card__actual__time {
    color: var(--color-time);
    font-size: var(--font-size-card-time);
    margin-bottom: var(--margin-small);
    display: flex;
    align-items: center;
    gap: 3px;
}

.card__actual__content {
    display: flex;
    flex-direction: column;
    max-width: 677px;
    width: 100%;
}

.card__actual__header {
    font-weight: 500;
    font-size: var(--font-size-card-header);
    margin-bottom: var(--margin-medium);
    letter-spacing: -0.02em;
    line-height: var(--font-size-card-header);
}

.card__actual__summary {
    font-weight: 400;
    font-size: var(--font-size-small);
    line-height: var(--font-size-small);
    letter-spacing: -0.02em;
}

.card__actual__button {
    font-size: var(--font-size-small);
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    cursor: pointer;
}

/* Галерея */
.gallery__content {
    flex-direction: column;
    width: var(--gallery-content-width);
    word-break: break-word;
}

.swiper-pagination-bullet {
    background-color: var(--color-white);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--color-active-bullet);
}

.swiper-container {
    height: var(--gallery-height);
    overflow: hidden;
}

.swiper-pagination {
    position: relative;
    bottom: var(--swiper-pagination-bottom-offset) !important;
}

.gallery {
    width: var(--gallery-width);
    height: var(--gallery-height);
    display: flex;
    border-radius: 6px;
    color: var(--color-white);
    background-size: cover !important;
    background-position: center !important;
}

.gallery__block {
    width: 100%;
    height: 100%;
    padding: var(--padding-xl);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery__date {
    width: 74px;
    height: 111px;
    background-image: url("{% static 'media/Vector 7 (1).svg' %}");
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-flag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: var(--padding-large);
}

.date-flag__day {
    font-size: var(--font-size-date-day);
    font-weight: 500;
}

.date-flag__month {
    font-size: var(--font-size-date-month);
    font-weight: 400;
}

.gallery_card-summary {
    font-size: var(--font-size-medium);
    font-weight: 400;
    letter-spacing: -0.02em;
    padding-top: var(--padding-medium);
    padding-bottom: var(--padding-large);
}

.gallery_card-button {
    border: 1px solid var(--color-white);
    font-size: var(--font-size-small);
    font-weight: 400;
    line-height: var(--font-size-small);
    letter-spacing: -0.02em;
    padding: var(--padding-small) var(--padding-medium);
    display: inline-block;
}

.gallery a {
    color: var(--color-white);
}

/* Популярные карточки */
.popular__cards {
    display: flex;
    flex-direction: column;
    gap: var(--margin-xl);
}

.popular__card {
    display: flex;
    flex-direction: column;
    max-width: var(--popular-card-max-width);
    width: 100%;
    height: var(--popular-card-height);
    min-height: var(--popular-card-height);
}

.card__popular__imagecontainer {
    padding-bottom: var(--padding-large);
}

.card__popular__image {
    max-width: var(--popular-card-max-width);
    width: 100%;
    height: 125px;
    min-height: auto;
}

.card__photo__popular {
    width: 100%;
    max-height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.card__popular__content {
    display: flex;
    flex-direction: column;
    max-width: var(--popular-card-max-width);
    width: 100%;
}

.card__popular__header {
    max-width: var(--popular-card-max-width);
    width: 100%;
    font-size: var(--font-size-card-header);
    font-weight: 500;
    line-height: var(--font-size-card-header);
    padding-bottom: var(--padding-small);
    word-wrap: break-word;
}

.card__popular__time {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: var(--font-size-card-time);
    line-height: var(--font-size-card-time);
    font-weight: 400;
    color: var(--color-time);
    letter-spacing: -0.02em;
    padding-bottom: var(--padding-medium);
}

.card__popular__summary {
    max-width: var(--popular-card-max-width);
    font-size: var(--font-size-small);
    font-weight: 400;
    word-wrap: break-word;
}

.card__popular__button {
    font-size: var(--font-size-small);
    display: flex;
    position: relative;
    justify-content: flex-start;
    margin-top: auto;
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small);
}

@media(max-width:768px){
    .right__side{
        display: none;
    }
    .left__side{
        
    }
    .actual__header{
        padding-left: 24px;
    }
    .cards__actual{
        padding: 0 24px;
    }
    
    .card__actual__summary{
        font-size: var(--font-size-small);
        line-height: var(--font-size-small);
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Ограничение в 3 строки */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }
    .card__actual__header{
        font-size: var(--font-size-18);
        line-height: var(--font-size-18);
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Ограничение в 3 строки */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }
    .card__actual__imagecontainer{
        max-width: 160px;
        width: 100%;
    }
    .card__actual{
        height: 160px;
    }
}