.cards {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    grid-auto-flow: dense;
    margin: 0;
    padding: 0;
}

.card__text {
    font-size: var(--font-size-small);
    word-break: break-word;
}

.card__button {
    font-size: var(--font-size-small);
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    cursor: pointer;
}

.card__status {
    font-size: var(--font-size-card-time);
    border: 1px solid var(--color-black);
    padding: 8px 16px;
    border-radius: 30px;
}

.status--completed {
    color: var(--color-white);
    background-color: #009739;
    border-color: #009739;
}

.status--rejected {
    color: var(--color-white);
    background-color: #EA424C;
    border-color: #EA424C;
}

.card__time {
    font-size: var(--font-size-small);
    color: var(--color-gray);
}

.card__statustime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    gap:10px;
}

.card__header {
    font-weight: 500;
    font-size: var(--font-size-card-header);
    margin-bottom: 16px;
}

.card__appeal {
    display: flex;
    background-color: var(--color-white);
    flex-direction: column;
    border-radius: 12px;
    max-height: 233px;
    max-width: var(--max-width-container);
    justify-content: center;
    padding: 20px 22px;
}

.card-content {
    max-width: var(--max-width-container);
    width: 100%;
    max-height: 241px;
    height: 241px;
    display: flex;
    flex-direction: column;
}

.appeals_photos {
    display: flex;
    gap: 10px;
    height: 106px;
    overflow-x: auto;
    max-width: min-content;
    position: relative;
    scroll-behavior: smooth;
}

.appeals_photos-container {
    display: flex;
    align-items: center;
    position: relative;
    max-width: var(--max-width-container);
}

.appeals_photos::-webkit-scrollbar {
    display: none;
}

.appeal_photo {
    min-width: 127px;
    max-height: 106px;
    border-radius: 6px;
}

.appeal_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.scroll-btn {
    border: none;
    color: var(--color-black);
    font-size: 18px;
    background: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
}

.scroll-btn:hover {
}

.left-btn {
    position: absolute;
    left: 0;
    z-index: 1;
}

.right-btn {
    position: absolute;
    right: 0;
    z-index: 1;
}