    .date_responce{
        font-size: var(--font-size-16);
        color: #868693;
    }
    .commentaryBlock {
        display: flex;
        gap: 20px;
        font-size: var(--font-size-20);
        line-height: var(--font-size-20);
}
.logoContainer {
}
.responceContainer {
    max-width: 886px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.name {
    font-weight: 550;
}
.responce {
    word-break: break-all;
}
    .card__status {
        font-size: var(--font-size-20);
        line-height: var(--font-size-20);
        border: 1px solid var(--color-black);
        padding: 8px 16px;
        border-radius: 30px;
        width: fit-content;
    }

    .status--completed {
        color: var(--color-white);
        background-color: var(--color-green);
        border-color: var(--color-green);
    }

    .status--rejected {
        color: var(--color-white);
        background-color: var(--color-primary);
        border-color: var(--color-primary);
    }

    .appealCommentary {
        font-size: var(--font-size-36);
        font-style: normal;
        font-weight: 500;
        line-height: var(--font-size-36);
        letter-spacing: -0.02em;
        display: flex;
        align-items: center;
        position: relative;
    }

    .appealCommentary::after {
        content: "";
        flex-grow: 1;
        height: 1px;
        background-color: var(--color-gray);
        margin-left: 44px;
    }

    .appealText {
        word-break: break-all;
        font-size: var(--font-size-20);
        line-height: var(--font-size-20);
    }

    .appealPage_photos {
        display: flex;
        gap: 44px;
        overflow-x: auto;
        /* Добавляет горизонтальную прокрутку */
        max-width: min-content;
        position: relative;
        scroll-behavior: smooth;
        /* Плавный скролл */

    }

    .appealPage_photos-container {
        display: flex;
        align-items: center;
        position: relative;
        max-width: 966px
    }


    /* Скрываем стандартный скролл */
    .appealPage_photos::-webkit-scrollbar {
        display: none;
    }

    .appealPage_photo {
        max-width: 461px;
        max-height: 439px;
        border-radius: 6px;
    }

    .appealPage_photo img {
        max-width: 461px;
        max-height: 439px;
        height: 439px;
        width: 461px;
        object-fit: cover;
        border-radius: 6px;
    }

    /* Кнопки прокрутки */
    .scroll-btn {
        border: none;
        color: var(--color-black);
        font-size: var(--font-size-20);
        line-height: var(--font-size-20);
        background: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: background 0.3s;
    }

    .scroll-btn:hover {}

    /* Размещаем кнопки по краям */
    .leftPage-btn {
        position: absolute;
        left: 0;
        z-index: 1;
    }

    .rightPage-btn {
        position: absolute;
        right: 0;
        z-index: 1;
    }

    

    .quote {
        display: flex;
        justify-content: center;

    }

    .quote_content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 12px;
        max-width: 527px;
    }

    .quote .quote_text {
        display: flex;
        font-size: var(--font-size-20);
        font-weight: 550;
        line-height: var(--font-size-24);
        letter-spacing: -0.02em;
        text-align: center;
    }

    .quote .quote_name {
        color: #868693;
        font-size: var(--font-size-16);
        line-height: var(--font-size-16);
        letter-spacing: -0.02em;
    }

    .quote_content::before,
    .quote_content::after {
        content: '';
        display: block;
        max-width: 156px;
        height: 1px;
        background-color: var(--color-gray);
        margin: 26px 0;
    }

    .paragraph {
        font-size: var(--font-size-36);
        font-weight: 500px;
        line-height: var(--font-size-36);
        letter-spacing: -0.02em;
    }

    .embed-block iframe {
        width: 100%;
        height: 100%;
    }

    .image {
        margin: 0;
        max-width: 967px;
        max-height: 439px;
        position: relative;
    }

    .embed-block {
        margin: 0;
        max-width: 967px;
        max-height: 439px;
        position: relative;
    }

    .media__page-data {
        display: flex;
        flex-direction: column;
        gap: 44px;
    }

    .caption {
        color: var(--color-gray);
        font-size: var(--font-size-16);
        line-height: var(--font-size-16);
        letter-spacing: -0.02em;
        padding-top: 8px;
    }

    figcaption {
        font-size: var(--font-size-16);
        letter-spacing: -0.02em;
        line-height: var(--font-size-16);
        color: var(--color-gray);
        padding-top: 8px;
    }

    .media__page-header {
        font-size: var(--font-size-48);
        font-weight: 500;
        letter-spacing: -0.02em;
        line-height: var(--font-size-48);
        border-bottom: 1px solid var(--color-gray);
        padding-bottom: 44px;
        margin-bottom: 44px;
    }

    .media__page-date {
        font-size: var(--font-size-20);
        font-weight: 500;
        line-height: var(--font-size-20);
        letter-spacing: -0.02em;
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--color-primary);
    }

    .media__page-top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 24px;
    }

    .media__page-content {
        padding-top: 58px;
    }

    main.media__page-content {
        flex: 1;
        padding-left: 10px;
        padding-right: 10px;
    }

    body {
        display: flex;
        flex-direction: column;

    }

    .chevron-down {
        display: flex;
        align-items: center;
        font-size: var(--font-size-16);
        font-weight: 400;
        line-height: var(--font-size-16);
        letter-spacing: -0.02em;
        color: var(--color-gray);
        gap: 10px;
    }

    a i {
        rotate: 90deg;
        font-size: var(--font-size-16);
    }

    .image img {
        height: 100%;
        width: 100%;
        margin: 0;
        object-fit: cover;


    }

    .media__page-container {
        max-width: 967px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
    }



    .swiper-container {
        max-width: 967px;
        max-height: 425px;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        border-radius: 6px;
    }

    .swiper-slide {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .swiper-pagination {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
    }