
.content__main {
    padding-top: 44px;
}


.left__side {
    margin-top: 59px;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content__header {
    word-break: break-all;
    font-weight: 500;
    font-size: var(--font-size-64);
    line-height: var(--font-size-64);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    border-bottom: 1px solid #868693;
    padding-bottom: 44px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Устанавливаем высоту для использования Flexbox */
}

body {
    display: flex;
    flex-direction: column;
}

main.content {
    flex: 1;
    display: flex;
}

.content {
    
}

.container {
    display: flex;
    justify-content: space-between;
}

.dates-carousel {
    display: flex;
    flex-direction: column; /* Делаем вертикальный список */
    align-items: center;
    position: sticky;
    top: var(--sticky-top); /* Отступ от верхнего края */
    height: calc(100vh - 150px); /* Высота области прокрутки */
    overflow-y: auto; /* Вертикальная прокрутка */
    padding: 20px 0;
}

.date-link {
    display: block;
    padding: 5px 0;
    font-size: var(--font-size-24);
    font-weight: bold;
    text-decoration: none;
    color: var(--color-gray);
    transition: font-size 0.3s ease, color 0.3s ease;
    transform: scale(1);
}

.date-link:hover {
    color: var(--color-hover);
    transform: scale(1.1);
}

/* Стиль для активного года (например, красный) */
.date-link.active {
    color: var(--color-primary);
    font-size: var(--font-size-24);
    font-weight: 700;
    transform: scale(1.2);
}

/* Стили для неактивных лет (серый) */
.date-link.inactive {
    color: var(--color-gray);
    font-size: var(--font-size-24);
    transform: scale(0.9);
}

.dates-carousel::-webkit-scrollbar {
    height: var(--scrollbar-height);
}

.dates-carousel::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

.dates-carousel::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 4px;
}

.dates-wrapper {
    display: inline-block; /* Изменено с inline-flex */
    padding: 0 20px;
    position: sticky;
    flex: 1;
    top: 0;
}

.date-link:last-child {
    margin-right: 0; /* Убираем отступ у последнего элемента */
}

.biography__container {
    margin-left: auto;
    display: flex;
    max-width: 80%;
    width: 100%;
    gap: 30px;
}

.right__side {
    position: relative; /* Сделать фото фиксированным при прокрутке */
    max-width: 60%;
    width: 100%;
    flex: 1;
}

.main-photo-container {
    position: sticky;
    top: var(--sticky-top); /* Указываем, где элемент должен "прилипнуть" */
    max-width: 100%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main-photo-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
}

.main-photo-slide.active {
    opacity: 1;
    z-index: 10;
}

.main-photo-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Чтобы контент не перекрывался фото */
.media__page-container {
    
    padding-bottom: 44px;
    border-bottom: 1px solid var(--color-gray);
}



.quote {
    display: flex;
    justify-content: center;
}

.quote_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--quote-gap);
    max-width: 527px;
}

.quote .quote_text {
    display: flex;
    font-size: var(--font-size-16);
    font-weight: 550;
    line-height: var(--font-size-16);
    letter-spacing: -0.02em;
    text-align: center;
}

.quote .quote_name {
    color: var(--color-gray);
    font-size: var(--quote-font-size);
    line-height: var(--quote-line-height);
    letter-spacing: -0.02em;
}

.quote_content::before,
.quote_content::after {
    content: '';
    display: block;
    max-width: var(--quote-line-width);
    width: 100%;
    height: 1px;
    background-color: var(--color-gray);
    margin: 26px 0;
}

.paragraph {
    font-size: var(--font-size-36);
    font-weight: 500;
    line-height: var(--font-size-36);
    letter-spacing: -0.02em;
}

.embed-block iframe {
    width: 100%;
    height: 100%;
}

.image {
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.embed-block {
    margin: 0;
    width: 100%;
    height: 439px;
    position: relative;
}

.media__page-data {
    display: flex;
    flex-direction: column;
    gap: 44px;
    padding: 0 24px;
}

.caption {
    color: var(--color-gray);
    font-size: var(--font-size-16);
    line-height: var(--font-size-16);
    font-weight: 400;
    letter-spacing: -0.02em;
    padding-top: 8px;
}

figcaption {
    font-size: var(--font-size-16);
    letter-spacing: -0.02em;
    line-height: var(--font-size-16);
    color: var(--color-gray);
    padding-top: 8px;
}

.media__page-header {
    font-size: var(--font-size-48);
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: var(--font-size-48);
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: 44px;
    margin-bottom: 44px;
}

.media__page-date {
    font-size: var(--font-size-20);
    font-weight: 500;
    line-height: var(--font-size-20);
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-primary);
}

.media__page-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.media__page-content {
    padding-top: 58px;
    position: relative;
}

.chevron-down {
    display: flex;
    align-items: center;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: var(--font-size-16);
    letter-spacing: -0.02em;
    color: var(--color-gray);
    gap: 10px;
}

a i {
    rotate: 90deg;
    font-size: var(--font-size-15);
}

.image img {
    height: 100%;
    width: 100%;
    margin: 0;
    object-fit: cover;
}

.media__page-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.swiper-container {
    width: 100%;
    height: 425px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.swiper-slide {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}
.media__page-date.mobile{
    display: none;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

@media (max-width: 768px) {
    .content__header{
        font-size: var(--font-size-36);
        line-height: var(--font-size-36);
        font-weight: 550;
    }
    .right__side {
        display: none; /* Скрываем правую сторону на мобильных устройствах */
    }
    .biography__container{
        max-width: 100%;
    }
    .media__page-header {
        position: relative;
        color: var(--color-white); /* Чтобы текст был читаемым */
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: var(--font-size-26);
        line-height:  var(--font-size-26);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 250px;
        padding: 24px 24px;
        justify-content: flex-end;

    }
    .media__page-date.mobile {
        display: flex;
        font-size: var(--font-size-16);
        font-weight: 500;
        color: var(--color-white);
        align-items: center;
        gap: 8px;
        position: relative;
        z-index: 2;
    }
    .media__page-header::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Затемнение */
        z-index: 1;
    }
    .media__page-header span{
        z-index: 2;
        position: relative;
        border-bottom: 1px solid white;
        padding-bottom: 12px;
    }
    .media__page-date{
        display: none;
    }
    .left__side{
        max-width: 100%;
    }
    .media__page-container {
        position: relative;
    }
    .media__page-header[data-bg] {
        background-image: var(--mobile-bg);
        position: relative;
        z-index: 2;
    }
   
    .dates-carousel{
        display: none;
    }
}
