    
.logos__container {
    display: flex;
    align-items: center;
    max-width: 100%; 
    margin-left: auto;
    margin-right: auto;
    padding-top: 22px;
    padding-bottom: 34px;
}
.logos__images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: auto;
}
.footer{
    
    margin-top: 70px;
    background-color: white;
    box-shadow: 0px 16px 32px -4px #6161671A;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width-container); 
    margin-left: auto;
    margin-right: auto;
    padding-top: 34px;
}

.footer__left {
    display: flex;
    gap: 23px;
    align-items: center;
}

.footer__text {
    font-size: var(--font-size-medium);
}
.footer__text span{
    font-weight: 700;
}
.footer__center {

}

.footer__list {

}

.footer__right {

}

.telegram__button {
    background: var(--color-tg);
    font-size: var(--font-size-small);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    gap: 10px;
    cursor: pointer;
}
.telegram__button a{
    color: white;
}
.appeals__image {

}

.search__button {

}
