body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Устанавливаем высоту для использования Flexbox */
}

body {
    display: flex;
    flex-direction: column;
}

main.mainPage-content {
    flex: 1;
}
.appeals-cards_container{
    padding: 0 24px;
    padding-bottom: 24px;
    position: relative;
    width: calc(100% - 48px); /* Учитываем padding */
}
.container {
    max-width: 1300px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 44px;
    position: relative;
}

.mainPage-content {
    padding-top: 47px;
    position: relative;
}

.gallery-block {
    max-width: 100%;
    width: 745px;
    max-height: 483px;
    height: 100%;
    border-radius: 6px;
    flex: 1;
    /* Занимает равное пространство */
}

.top-cards {
    display: flex;
    gap: 26px;
    flex-wrap: wrap;
}

.cards-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    /* Занимает равное пространство */
    min-width: 525px;
    
}

.right-card__actual {
    transform: scale(1);
    transition: transform 0.4s ease;
    cursor: pointer;
    max-width: 1300px;
    width: 100%;
    max-height: 191px;
    height: 100%;
    display: flex;
    gap: 16px;

}
.right-card__actual:hover{
    transform: scale(0.95);
    transition: transform 0.4s ease;
}
.card__actual__imagecontainer {
    width: 100%;
    max-width: 40%;
}

.card__actual__image {
    width: 100%;
    height: 100%;
}

.card__photo__actual {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.card__actual__content {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    flex: 1;
    width: 100%;
}

.card__actual__time {
    display: flex;
    align-items: center;
    color: var(--color-gray);
    font-size: var(--font-size-12);
    gap: 4px;
}

.time__image {}

.card__actual__header {
    font-size: var(--font-size-26);
    font-weight: 500;
    line-height: var(--font-size-26);
    letter-spacing: -0.02em;
}
.card__info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 12px;
}
.card__actual__summary {
    font-size: var(--font-size-14);
    font-weight: 400;
    line-height: var(--font-size-14);
    letter-spacing: -0.02em;
}

.card__actual__button {
    font-size: var(--font-size-14);
    font-weight: 400;
    line-height: var(--font-size-14);
    letter-spacing: -0.02em;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
}

.actual-tg__button {
    background: var(--color-tg);
    color: var(--color-white);
    font-size: var(--font-size-12);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    gap: 10px;
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    transition: background 0.3s, outline 0.3s, color 0.3s;
}
.actual-tg__button:hover {
    background: var(--color-white);
    outline: 1px solid var(--color-black);
    color: var(--color-black);
}
.actual-tg__button a {
    color: var(--color-white);
}

.MediaGallery-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main__cards-header::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-gray);
    margin-left: 24px;
}

.main__cards-header {
    padding-left: 24px;
    font-weight: 500;
    font-size: var(--font-size-36);
    letter-spacing: -0.02em;
    line-height: var(--font-size-36);
    display: flex;
    position: relative;
    align-items: center;
}
.media-cards{
    padding: 0 24px;
}
.gradient-container {
    position: absolute;
    bottom: 0;
    max-width: 1300px;
    width: 100%;
    max-height: 309px;
    height: 100%;
    background: linear-gradient(to top, #F7F7F7 0%, rgba(247, 247, 247, 0) 100%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: opacity 0.3s ease;
}

.load-more-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: var(--font-size-16);
    cursor: pointer;
}
/* media */
.main__card-photo {
    width: 100%;
height: 100%;
border-radius: 6px;
object-fit: cover;

}
.main__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    grid-auto-flow: dense; /* Оптимизация заполнения */
    padding: 0;

    
}
.main__card {
    transform: scale(1);
    transition: transform 0.4s ease;
    cursor: pointer;
    max-width: auto;
    height: 281px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    position: relative;
}
.main__card:hover{
    transform: scale(0.95);
    transition: transform 0.4s ease;
}
.main__card-date {
    position: absolute; /* Размещаем поверх изображения */
    right: 29px;
    color: var(--color-white); /* Белый текст */


}
.main__cards-content{
    padding-bottom: 72px;
    align-items: center;
    justify-content: center;
}
.main__date-flag {
    padding-bottom: 10px;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 39px;
height: 56px;
background-color: var(--color-green);
position: relative;
clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 75%, 0% 100%);
}
.main__date-flag__day {
    font-weight: 400;
    font-size: var(--font-size-20);
    letter-spacing: -0,02em;
    line-height: var(--font-size-20);
}
.main__date-flag__month {
    font-weight: 400;
    font-size: var(--font-size-12);
    letter-spacing: -0,02em;
    line-height: var(--font-size-12);
}
.main__card-image {
    max-width: auto;
    max-height: 128px;

}
.main__card-header {
    font-weight: 500;
    font-size: var(--font-size-20);
    letter-spacing: -0,02em;
    line-height: var(--font-size-20);
    padding-top: 24px;
    padding-bottom: 16px;
}
.main__card-summary {
    font-weight: 400;
    font-size: var(--font-size-12);
    letter-spacing: -0,02em;
    line-height: var(--font-size-12);
}
.main__card-button {
    font-size: var(--font-size-12);
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
    cursor: pointer;

}

@media(max-width:768px){
    .gallery-block{
        height: 250px;
    }
    .main__card-header {

        padding-top: 12px;
        padding-bottom: 16px;
    }
    
    .right-card__actual{
        height: 160px;
    }
    
    .card__actual__header{
        font-size: var(--font-size-20);
        line-height: var(--font-size-20);
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Ограничение в 3 строки */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }
    .card__actual__summary{
        font-size: var(--font-size-12);
        line-height: var(--font-size-12);
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Ограничение в 3 строки */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }
    
    .card__info{
        gap: 8px;
    }
    .card__actual__button{
        font-size: var(--font-size-11);
        line-height: var(--font-size-11);
    }
    .card__actual__imagecontainer{
        height: 100%;
        min-width: 110px;
    }
    .cards-block{
        min-width: 100px;
    }
    .cards-block{
        padding: 0 24px;
    }
   
}