[class*="ground-pane"] {
    filter: grayscale(1);
}

.quote {
    display: flex;
    justify-content: center;

}

.quote_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    max-width: 527px;
}

.quote .quote_text {
    display: flex;
    font-size: var(--font-size-20);
    font-weight: 550;
    line-height: var(--font-size-24);
    letter-spacing: -0.02em;
    text-align: center;
}

.quote .quote_name {
    color: var(--color-gray);
    font-size: var(--font-size-16);
    line-height: var(--font-size-16);
    letter-spacing: -0.02em;
}

.quote_content::before,
.quote_content::after {
    content: '';
    display: block;
    max-width: 156px;
    width: 100%;
    height: 1px;
    background-color: var(--color-gray);
    margin: 26px 0;
}

.paragraph {
    word-break: break-all;
    font-size: var(--font-size-20);
    font-weight: 500px;
    line-height: var(--font-size-24);
    letter-spacing: -0.02em;
}

.embed-block iframe {
    width: 100%;
    margin: 0;
    object-fit: cover;
    max-height: 439px;
    height: 100%;
}
.image {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    max-width: 967px;
    width: 100%;
    height: 100%;
    position: relative;
}

.embed-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    max-width: 967px;
    width: 100%;
    height: 100%;
    position: relative;
}

.media__page-data {
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.caption {
    width: 100%;
    color: var(--color-gray);
    font-size: var(--font-size-16);
    line-height: var(--font-size-16);
    font-weight: 400;
    letter-spacing: -0.02em;
}

figcaption {
    font-size: var(--font-size-16);
    letter-spacing: -0.02em;
    line-height: var(--font-size-16);
    color: var(--color-gray);
    padding-top: 8px;
}

.media__page-header {
    font-size: var(--font-size-48);
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: var(--font-size-48);
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: 44px;
    margin-bottom: 44px;
}

.media__page-date {
    font-size: var(--font-size-20);
    font-weight: 500;
    line-height: var(--font-size-20);
    letter-spacing: -0.02em;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--color-primary);
}

.media__page-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

.media__page-content {
    padding-top: 58px;
    
    max-width: 1300px;
    width: 100%;
    display: flex;
    gap:30px;
    margin-left: auto;
    margin-right: auto;
}

.chevron-down {
    display: flex;
    align-items: center;
    font-size: var(--font-size-16);
    font-weight: 400;
    line-height: var(--font-size-16);
    letter-spacing: -0.02em;
    color: #868693;
    gap: 10px;
}

a i {
    rotate: 90deg;
    font-size: var(--font-size-15);
}

.image img {
    width: 100%;
    margin: 0;
    object-fit: cover;
    max-height: 439px;
    height: 100%;

}

.media__page-container {
    max-width: 967px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h2{
    margin: 0;
    font-size: var(--font-size-36);
    line-height: var(--font-size-36);
}
h3{
    margin: 0;
    font-size: var(--font-size-24);
    line-height: var(--font-size-24);
}

.swiper-container {
    width: 967px;
    height: 425px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}

.swiper-slide {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.map__container{
    flex:1;
    width: 100%;
    max-width: 967px;
    box-sizing: border-box;
}
.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
}

.map-block {
    width: 100%;
    height: 400px;
    margin: 0;
    border-radius: 6px;
    overflow: hidden;
    box-sizing: border-box;
}

@media(max-width:768px){
    .popular__cards{
        display: none;
    }
    .media__page-header{
        font-size: var(--font-size-36);
        line-height: var(--font-size-36);
        font-weight: 550;
    }
    .media__page-date{
        font-size: var(--font-size-13);
    }
    .fa-solid{
        font-size: var(--font-size-12);
    }
    .chevron-down{
        font-size: var(--font-size-13);
    }
    .media__page-container{
        padding: 0 24px;
    }
    .map-block {
        height: 300px;
    }
    .paragraph{
    }
}