
.main__cards-header::after{
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #868693;
    margin-left: 44px;
}
.main__cards-header {
    font-weight: 500;
    font-size: 36px;
    letter-spacing: -0,02em;
    line-height: 36px;
    display: flex;
    position: relative;
    align-items: center;
    padding-bottom: 44px;
}

.top__content {
    display: flex;
    gap:30px;
    padding-bottom: 44px;
    flex-wrap: wrap;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Устанавливаем высоту для использования Flexbox */
}

body {
    display: flex;
    flex-direction: column;
}

main.content {
    flex: 1;
    
}

.container {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

    
.right_card-button {
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
    cursor: pointer;
}
.right__card-info {
    width: 100%;
    height: 100%;
    
    padding: 42px 44px;
    display: flex;
    justify-content: space-between;
}
.right__card-content {
    width: 325px;
    display: flex;
    flex-direction: column;
    word-break: break-word;
    
}
.right_card-header {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 16px;
    letter-spacing: -0.02em;
    line-height: 28px;
}
.right_card-summary {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.02em;
    line-height: 12px;
}
.right_card-button {
}
.right__card-date {
    background-image: url("/static/media/Vector 1.svg ");
    width: 41px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.right_date-flag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 12px;
}
.right__date-flag__day {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0,02em;
}
.right__date-flag__month {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0,02em;
}
.right__cards {
    max-height: 480px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right__card a{
   color: white;
}
.right__card {
    color: white;
    border-radius: 6px;
    max-width: 525px;
    width: 100%;
    max-height: 225px;
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
}
.left_main-content {
    
    max-width: 745px;
    width: 100%;
    max-height: 480px;
    height: 100%;
}

.right_main-content {
    max-width: 525px;
    width: 100%;
    height: 480px;
    
}

.gallery__content {
    flex-direction: column;
    width: 513px;
    word-break: break-word;
    
}

.card-container {
    border-radius: 6px;
    height: 480px;
    overflow: hidden;
}


.gallery {
    max-width: 745px;
    height: 480px;
    display: flex;
    color: white;
    background-size: cover !important;
    background-position: center !important;
}

.gallery__block {
    width: 100%;
    height: 100%;
    padding-top: 42px;
    padding-bottom: 52px;
    padding-left: 42px;
    padding-right: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.gallery__date {
    width: 74px;
    height: 111px;
    background-image: url("/static/media/Vector 7 (1).svg");
    display: flex;
    align-items: center;
    justify-content: center;
}


.date-flag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;
}


.date-flag__day {
    font-size: 36px;
    font-weight: 500;
}

.date-flag__month {
    font-size: 20px;
    font-weight: 400;
}

.gallery_card-summary {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.02em;
    padding-top: 16px;
    padding-bottom: 24px;
}

.gallery_card-button {
    border: 1px solid white;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: -0.02em;
    padding: 12px 16px;
    display: inline-block;
}

.gallery_card-date {}

.gallery a {
    color: white;
}

.gallery_card-header {
    font-weight: 500;
    font-size: 48px;
    border-bottom: 1px solid white;
    padding-bottom: 16px;
    display: inline-block;
}
@media (max-width: 1300px) {
 

    /* Левые и правые карточки растягиваем по ширине */
    .left_main-content,
    .right_main-content {
        max-width: none;
        width: 100%;
        height: 480px;
    }
    .right__card{
        max-width:none
    }
    .gallery{
        max-width: none;
    }
    
    /* Добавляем немного отступа между карточками */
    .top__content {
        width: 100%;
    }
}