
.main__cards-header::after{
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-gray);
    margin-left: 44px;
}
.main__cards-header {
    font-weight: 500;
    font-size: var(--font-size-36);
    letter-spacing: -0,02em;
    line-height: var(--font-size-36);
    display: flex;
    position: relative;
    align-items: center;
    padding-bottom: 44px;
    padding-left: 24px;
}

.top__content {
    display: flex;
    gap:30px;
    padding-bottom: 44px;
    flex-wrap: wrap;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Устанавливаем высоту для использования Flexbox */
}

body {
    display: flex;
    flex-direction: column;
}

main.content {
    flex: 1;
    
}

.container {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
}

    
.right_card-button {
    font-size: var(--font-size-12);
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
    cursor: pointer;
}
.right__card-info {
    width: 100%;
    max-height: 141px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.right__card-content {
    max-width: 325px;
    display: flex;
    flex-direction: column;
    word-break: break-word;
    
}
.right_card-header {
    font-weight: 500;
    font-size: var(--font-size-30);
    margin-bottom: 16px;
    letter-spacing: -0.02em;
    line-height: var(--font-size-30);
}
.right_card-summary {
    font-weight: 400;
    font-size: var(--font-size-12);
    letter-spacing: -0.02em;
    line-height: var(--font-size-12);
}
.right_card-button {
}
.right__card-date {
    background-image: url("/static/media/Vector 1.svg ");
    width: 41px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.right_date-flag {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 12px;
}
.right__date-flag__day {
    font-size: var(--font-size-20);
    font-weight: 400;
    line-height: var(--font-size-20);
    letter-spacing: 0,02em;
}
.right__date-flag__month {
    font-size: var(--font-size-12);
    font-weight: 400;
    line-height: var(--font-size-12);
    letter-spacing: 0,02em;
}
.right__cards {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
}
.right__card a{
   color: var(--color-white);
}
.right__card {
    transform: scale(1);
    transition: transform 0.4s ease;
    color: var(--color-white);
    border-radius: 6px;
    max-width: 1300px;
    padding: 44px 42px;
    max-height: 225px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
}
.right__card:hover{
    transform: scale(0.95);
    transition: transform 0.4s ease;
}
.left_main-content {
    min-width: 745px;
    max-width: 100%;
    max-height: 480px;
    height: 100%;
    flex: 1;
}

.right_main-content {
    max-width: 100%;
    height: 480px;
    flex: 1;
    min-width: 280px;
}


.main__card-photo {
    width: 100%;
height: 100%;
border-radius: 6px;
object-fit: cover;

}
.main__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    grid-auto-flow: dense; /* Оптимизация заполнения */
    padding: 0;

    
}
.main__card {
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.4s ease;
    max-width: auto;
    height: 281px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    position: relative;
}
.main__card:hover{
    transform: scale(0.95);
    transition: transform 0.4s ease;
}
.main__card-date {
    position: absolute; /* Размещаем поверх изображения */
    right: 29px;
    color: var(--color-white); /* Белый текст */


}
.main__cards-content{
    padding: 0 24px;
    align-items: center;
    justify-content: center;
    
}
.main__date-flag {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 56px;
    background-color: var(--color-green);
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 75%, 0% 100%);
}
.main__date-flag__day {
    font-weight: 400;
    font-size: var(--font-size-20);
    letter-spacing: -0,02em;
    line-height: var(--font-size-20);
}
.main__date-flag__month {
    font-weight: 400;
    font-size: var(--font-size-12);
    letter-spacing: -0,02em;
    line-height: var(--font-size-12);
}
.main__card-image {
    max-width: auto;
    max-height: 128px;

}
.main__card-header {
    font-weight: 500;
    font-size: var(--font-size-20);
    letter-spacing: -0,02em;
    line-height: var(--font-size-20);
    padding-top: 24px;
    padding-bottom: 16px;
}
.main__card-summary {
    font-weight: 400;
    font-size: var(--font-size-12);
    letter-spacing: -0,02em;
    line-height: var(--font-size-12);
}
.main__card-button {
    font-size: var(--font-size-12);
    display: flex;
    justify-content: flex-start;
    margin-top: auto;
    cursor: pointer;

}

@media(max-width:768px){
    
    .right_main-content{
        padding: 0 24px;
    }
    .right__card{
        max-height: 240px;
        height: 100%;
        padding: 20px;
    }
    .right_main-content{
        
    }
    .right__card-info{
    }
    .left_main-content{
        min-width: 100%;
    }
    .main__card-header {
        padding-top: 12px;
        padding-bottom: 16px;
    }
    
}