/* популярные */

.popular__cards {
    display: flex;
    flex-direction: column;
    gap: 44px;
}
.popular__card {
    display: flex;
    flex-direction: column;
    width: 299px;
    height: 289px;
}
.card__popular__imagecontainer {
    padding-bottom: 24px;
}
.card__popular__image {
    max-width: 299px;
    width: 100%;

}
.card__photo__popular {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}
.card__popular__content {
    display: flex;
    flex-direction: column;
    width: 299px;
}
.card__popular__header {
    max-width: 299px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 8px;
    word-wrap: break-word;
}
.card__popular__time {
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 10px;
    line-height: 10px;
    font-weight: 400;
    color: #555555;
    letter-spacing: -0.02em;
    padding-bottom: 16px;
}
.time__image {
}

.card__popular__summary {
    max-width: 299px;
    font-size: 12px;
    font-weight: 400;
    word-wrap: break-word;
}
.card__popular__button {
    font-size: 12px;
    display: flex;
    position: relative;
    justify-content: flex-start; 
    margin-top: auto;
    padding-top: 12px;
    padding-bottom: 12px;
}