footer {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: black;
    background-color: white;
    width: 100%;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-self: end;
}

.footer-content {
    width: 1180px;

    @media(max-width: 1280px) {
        padding: 0 35px;
        width: 100%;
    }

    @media(max-width: 425px) {
        padding: 0 27px;
    }

    .payment-block {

        margin-top: 25px;

        .payment-methods {
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            align-items: center;
            margin: 16px 0;
            img {
                height: 50px;
                aspect-ratio: 3/2;
                width: 80px;
                object-fit: contain;
            }
        }

        .payment-information {
            font-size: 10px;
        }
    }

}

@media (max-width: 425px) {
    .footer-content {
        padding: 0 27px;
    }
}

@media (max-width: 375px) {
    .footer-content {
        padding: 0 8px;
    }
}

.footer-horizontal-bar {
    height: 1px;
    width: 100%;
    background-color: #CECECE;
    margin: 52px 0 29px 0;
}

.footer-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 16px;
}

.footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: fit-content;
}

.footer-link {
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    margin: 0 20px 16px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        color: var(--primary-color);
        -webkit-transition: $transition-time;
        transition: $transition-time;
    }
}


.spnsr-block {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    row-gap: 8px;
}

.symbolic-block{
    display: flex;
    column-gap: 16px;
    img{
        cursor: pointer;
        height: 50px;
        object-fit: contain;
    }
}

.footer-sponsor-block__item {
    width: 120px;
    margin-right: 5px;
}

.footer-alert-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #595858;
    margin: 18px 0 19px 0;
    letter-spacing: 0.09em;
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 1fr 187px;
    grid-template-columns: 1fr 187px;
    gap: 200px;

    @media (max-width: 1024px) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 41px;
    }
}

.copyright-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.09em;
    color: #595858;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1180px;

    @media(max-width: 1280px) and (min-width: 426px) {
        padding-left: 35px;
        width: 100%;
    }

    @media(max-width: 425px) {
        padding-left: 27px;
    }

    @media(max-width: 320px) {
        padding-left: 8px;
    }
}

.copyright-block {
    height: 51px;
    background-color: #F3F3F2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    @media(max-width: 1280px) {
        .copyright-text {
            width: 100%;
        }
    }
}


.developers {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 187px;

    p {
        letter-spacing: 0.09em;
        font-size: 10px;
        line-height: 12px;
        color: black;
        white-space: nowrap;
        -ms-flex-item-align: end;
        align-self: flex-end;
    }

    @media (max-width: 1024px) {
        &::after {
            content: "";
            position: absolute;
            height: 1px;
            background-color: #CECECE;
            top: -24px;
            width: calc(100vw - 70px);
            left: 0;

            @media (max-width: 425px) {
                width: calc(100vw - 54px);
            }

            @media (max-width: 375px) {
                width: calc(100vw - 16px);
            }
        }
    }
}
