.info-block {
    padding: 2px;
    max-width: 466px;
    height: 144px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 140px 28px 1fr;
    grid-template-columns: 140px 1fr;
    -webkit-column-gap: 28px;
       -moz-column-gap: 28px;
            column-gap: 28px;
    position: relative;

    @media (max-width: 850px) {
        max-width: 100%;
    }

    @media (max-width: 425px) {
        display: block;
        position: relative;
        height: 100%;
    }
    &:hover{
        .info-block__description__title{
            color: var(--primary-color);
        }
    }
}

.info-page-block {
    a {
        position: relative;
        @media (min-width: 851px){
        &:nth-of-type(odd)::after {
            content: " ";
            background: #CECECE;
            width: 1px;
            height: 140px;
            right: -69px;
            position: absolute;
            -ms-flex-item-align: center;
                -ms-grid-row-align: center;
                align-self: center;
            top: 2px;

            @media (max-width: 850px) {
                display: none;
            }
            
        }
    }

        @media (max-width: 850px) {
            &:not(:last-child)::after {
                content: '';
                position: absolute;
                height: 1px;
                width: 100%;
                background-color: #CECECE;
                bottom: -30px;
            }
        }
    }
}


.info-block__picture {
    -o-object-fit: cover;
       object-fit: cover;
    width: 140px;
    height: 140px;

    @media (max-width: 425px) {
        display: none;
    }
}

.info-block__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.info-block__description__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 20px;
}

.info-block__description_text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: #727272;

}