header {
    z-index: 300;
}

@media(min-width: 1025px) and (max-width: 1280px) {
    .header-block {
        padding: 0 35px;
    }
}


.popup {
    display: none;
}

.header-block-content {
    width: 1180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 700px;
    width: 100%;
    @media (max-width: 1024px) {
        display: none;
    }
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    gap: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    a {
        color: black;
    }

    :hover {
        color: var(--primary-color);
    }
}

.header-block {
    height: 87px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header__input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 1px 14px 0 14px;
    position: relative;

    &::-webkit-search-cancel-button {
        display: none;
    }

    &::-webkit-input-placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #CECECE;
    }

    &::-moz-placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #CECECE;
    }

    &:-ms-input-placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #CECECE;
    }

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #CECECE;
    }
}

.header-block__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1180px;
    position: relative;
    z-index: 111;

    @media(max-width: 1280px) {
        width: 100%;
        font-size: 15px;
    }
}

.header-block__logo {
    height: 137px;
    width: 164px;
    background-color: white;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 5px 5px;
    position: relative;
    top: -4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header-block__menu {
    margin: 0 19px 0 96px;
}

.header-block__navbar {
    width: inherit;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    @media (max-width: 1130px) {
        justify-content: start;
    }
}

.header-block__navbar__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    max-width: 700px;
    width: 100%;
}

.header-show-more-dropdown {
    background-color: white;
    min-width: 180px;
    max-width: 230px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    z-index: 10;
    margin: 6px 0 0 -108px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;

    a {
        white-space: initial;
    }

    .dropdown-content {
        margin: -40px -220px 0 0;
        width: 230px;


    }

    .dropdown {
        &:hover {
            .dropbtn {
                i {
                    transform: rotate(-90deg);
                }
            }
        }

        .dropbtn {
            display: block;

            i {
                margin-left: 16px;
                transform: rotate(-90deg);
            }
        }
    }

    li {

        &:last-child {
            .dropbtn {
                border-radius: 0 0 7px 7px;
            }
        }

        a, > div {
            padding: 10px 20px;
            float: none;
            color: black;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown {
            padding: 0;
        }

        a:hover {
            color: #0C84FF;
        }
    }

    @media (max-width: 1024px) {
        position: static;
    }
}

.header-show-more {
    background-color: white;
    border: none;
    font-size: 16px;
    margin-right: 16px;

    &:hover {
        color: #0C84FF;
        cursor: pointer;
    }
}

.header-block__navbar__wrap .menu > li {
    display: inline-block;
}

.header-block__navbar__wrap .menu > li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    color: black;

    @media (max-width: 1090px) {
        padding: 0 10px;
    }
}

.header-block__navbar__wrap .menu > li > a:hover {
    color: var(--primary-color);
    -webkit-transition: $transition-time;
    transition: $transition-time;
}

.header-block__navbar__wrap .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 700px;
    width: 100%;
    justify-content: space-evenly;
    @media (max-width: 1024px) {
        justify-content: inherit;
    }
}

.header-block__search {
    border: solid 1px #CECECE;;
    border-radius: 5px;
    width: 193px;
    height: 32px;
    margin-left: auto;

    @media (max-width: 1130px) {
        width: 150px;
    }

    form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-item-align: center;
        align-self: center;

        button {
            border: none;
            background-color: white;
            margin-right: 10px;
            color: #CECECE;

            &:hover {
                cursor: pointer;
                color: var(--primary-color);
            }
        }
    }
}

.hamb {
    display: none;
}


.logo {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu > li > a {
    text-decoration: none;
}


.dropdown {
    float: left;
    padding: 15px;
    position: relative;

    &:hover {
        cursor: pointer;

        .dropbtn,
        .dropdown-pc {
            color: var(--primary-color);
        }

        .dropbtn i {
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
        }
    }

    .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        margin: 0;
        background-color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 4px;
        justify-content: flex-end;

        i {
            -webkit-transition: $transition-time;
            transition: $transition-time;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            padding-bottom: 2px;
        }

        @media (max-width: 1024px) {
            &:hover {
                i {
                    transform: rotate(180deg);
                }
            }
        }
    }

}

.dropdown-content {
    display: none;
    background-color: #FAFAFA;
    min-width: 180px;
    max-width: 230px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    z-index: 10;
    margin: 6px 0 0 -108px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    right: 0;
    position: absolute;

    a {
        float: none;
        color: black;
        text-decoration: none;
        display: block;
        text-align: left;
        padding: 10px 20px;
        white-space: initial;
    }

    @media (max-width: 1024px) {
        position: static;
    }
}

.dropdown-content a:hover {
    background-color: #F2F2F2;
    color: black;

    &:first-child {
        border-radius: 7px 7px 0 0;
    }

    &:last-child {
        border-radius: 0 0 7px 7px;
    }

    @media (max-width: 1024px) {
        background-color: #FAFAFA;
    }
}

@media (min-width: 1024px) {
    .dropdown:hover {
        .dropdown-content {
            display: block;
        }
    }
}

.dropdown-content.open {
    display: block;
}

.dropdown-pc {
    @media (max-width: 1024px) {
        display: none;
    }

    @media(max-width: 1280px) {
        font-size: 15px;
    }
}

.dropdown-mob {
    @media (min-width: 1025px) {
        display: none !important;
        user-select: none;
    }
}

.back-to-gck__block {
    width: 53px;
    height: 62px;
    position: absolute;
    left: -80px;
    top: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (max-width: 1390px) {
        position: static;
        margin: 0 20px;
    }

    img {
        width: 53px;
        height: 53px;
        margin-bottom: 4px;
        margin-left: -4px;
    }

    i {
        margin-right: 2px;
    }
}

.back-to-gck__button {
    background: #E9E9E9;
    border-radius: 5px;
    width: fit-content;
    padding: 0 5px;
    height: 16px;
    font-size: 8px;
    line-height: 10px;
    color: #727272;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 999;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    white-space: nowrap;

    &:hover {
        color: #019DFF;
    }
}


.container-festival {
    margin-left: 15px;
}

body.noscroll {
    overflow: hidden;

    .market-header-extend {
        left: -100%;
    }
}

@media(min-width: 1025px) and (max-width: 1280px) {

    main,
    .social-network-links {
        padding: 0 35px;
    }

    main {
        width: 100vw;
    }
}


.social-network-links {
    width: 100%;
    height: 29px;
    background-color: #E3E3E3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    user-select: none;
    @media (min-width: 1024px) {
        font-size: small;
    }
}

.social-network-links__icons {
    height: 20px;
    width: 1180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    gap: 20px;
    z-index: 112;
    color: #727272;

    @media (max-width: 1024px) {
        gap: 10px;
    }


    i {
        text-align: center;
        color: #727272;
        //z-index: 112;

        &:hover {
            color: var(--primary-color);
            -webkit-transition: $transition-time;
            transition: $transition-time;
        }
    }

    .links-block {
        display: flex;
        gap: 15px;
    }

    @media(max-width: 1280px) {
        width: 100%;
    }
}

.social-network-likn__item {
    width: 25px;
    height: 16px;

    &:hover {
        background-color: var(--primary-color);
    }
}


.container-festival {
    margin-left: 15px;
}

.gck {
    .header-block__logo {
        img {
            width: 105px;
        }
    }
}


@media (max-width: 1024px) {

    .header-block__logo {
        box-shadow: none;
        height: 100%;
        width: 100%;
        position: static;
        display: block;
        margin-left: 22px;
        z-index: 2;

        img {
            width: 60px;
            height: 60px;
        }
    }

    .gck {
        .header-block__logo {
            img {
                margin: auto;
                width: 50px;
                height: 50px;
            }
        }
    }

    .festival_logo {
        height: 97px;
        width: 97px;
        background-color: white;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
        border-radius: 0 0 5px 5px;
        position: absolute;
        top: -7px;
        z-index: 999;
        display: flex;

        a {
            img {
                width: 80%;
                height: 90px;
                padding: 10px;
                margin: 0 10px;
            }
        }
    }

    .header-block-content {
        display: block;
    }

    .header-block__navbar__wrap .menu {
        display: none;
    }

    .header__list {
        display: none;
        position: fixed;
        text-align: right;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 130px;

        li {
            margin-right: 42px;
        }

        .dropdown {
            float: right;
            padding: 30px 0 30px 0;
        }
    }


    .social-network-links {
        position: fixed;
        bottom: 60px;
        background-color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        left: 100%;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        z-index: 112;

        .social-network-links__icons {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            flex-direction: column;
        }
    }

    .hamb {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .hamb__field {
        padding: 10px 20px;
        cursor: pointer;
    }

    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamb__field.active .bar:nth-child(1) {
        -webkit-transform: translateY(6px) rotate(45deg);
        transform: translateY(6px) rotate(45deg);
        height: 2px;
    }

    .hamb__field.active .bar:nth-child(3) {
        -webkit-transform: translateY(-11px) rotate(-45deg);
        transform: translateY(-11px) rotate(-45deg);
        height: 2px;
    }

    .header-block-content {
        display: block;
    }

    .header-block__search {
        position: fixed;
        bottom: 145px;
        width: 100%;
        margin: 0 auto;
        background-color: white;
        left: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        z-index: 100;
    }

    .header-burger {
        width: 30px;
        height: 30px;
        background-color: var(--primary-color);
    }

    .bar {
        display: block;
        width: 30px;
        height: 4px;
        margin: 6px auto;
        background-color: black;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        border-radius: 10px;
    }

    .popup {
        position: fixed;
        top: 75px;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        z-index: 100;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 1fr 248px;
        grid-template-rows: 1fr 273px;
    }

    .popup.open {
        left: 0;
    }

    .header-block__search.open {
        left: 25px;
        right: 25px;
        width: 200px;
        z-index: 101 !important;

        &::after {
            position: absolute;
            content: "";
            height: 1px;
            background-color: #D5D5D5;
            top: -23px;
            width: 100vw;
            left: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }
    }

    .social-network-links.open {
        left: 0;
    }

    .popup .menu {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        overflow: auto;
        position: relative;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
            background-color: #F9F9FD;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 6px;
            background-color: var(--primary-color);
        }
    }

    .popup .menu > li {
        width: 100%;
        position: relative;

        &::after {
            content: " ";
            background: #D5D5D5;
            width: 35px;
            height: 1px;
            right: 27px;
            position: absolute;
            -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
            bottom: 0;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }

    .popup .menu > li > a {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 19px 27px;
        color: black;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    .popup .menu > li > a:hover {
        background-color: rgba(122, 82, 179, 0.1);

        @media (max-width: 1024px) {
            background-color: white;
        }
    }

    .dropdown {
        float: right;
        padding: 18px 27px;
        overflow: visible;
        position: initial;
        float: right;

        i {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }
    }

    .dropdown-content {
        border-radius: 7px;
        z-index: 1;
        box-shadow: none;
        width: 100vw;
        margin-top: 17px;
        max-width: initial;
        margin-right: -27px;
    }

    .dropdown-content a {
        float: none;
        color: black;
        text-decoration: none;
        display: block;
        text-align: end;
        padding: 20px 30px 14px 20px;
    }
}

.basket-block {
    margin-left: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        cursor: pointer;

        .fa-shopping-basket, .basket-name {
            filter: brightness(0.8);
        }
    }

    .basket-image {
        position: relative;

        .fa-shopping-basket {
            font-size: 28px;
            color: #727272;
        }

        .basket-counter {
            position: absolute;
            background-color: #016CFF;
            color: white;
            bottom: -5px;
            right: -6px;
            min-width: 18px;
            max-width: 28px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 9px;
            line-height: 14px;
            border-radius: 10px;
            overflow: hidden;
            padding: 0 3px;
        }
    }

    .basket-name {
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 4px;
    }
}


.market-header-extend {
    display: flex;
    align-items: center;
    @media (max-width: 1024px) {
        height: 50px;
        width: 100%;
        background: #FFF;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
        position: absolute;
        bottom: -100%;
        justify-content: space-between;
        padding: 0 18px;
        left: 0;
        transition: 0.3s;
        .header-block__search {
            margin: 0;
            position: static;
            width: 100%;
            display: block;
        }
        .basket-name {
            font-size: 11px;
        }
        .fa-shopping-basket {
            font-size: 24px !important;
        }
        .header-block__search.open {
            &::after {
                display: none;
            }
        }
    }

}

    .market {
        .header-block__logo__image {
            width: 160px;
            height: 80%;
        }
    }

@media (max-width: 1024px) {
    .market {
        .header-block__logo__image {
            width: 60px;
            height: 60px;
            margin: -4px 0 0 -4px;
        }
    }
}

