{% load static %}
<div class="cards__actual">
    {% for actual in actuals %}
    <div class="card__actual">
        <div class="card__actual__imagecontainer">
            <div class="card__actual__image">
                <img src="{% static 'image/' %}{{ actual.main_photo }}" alt="" class="card__photo__actual">
            </div>
        </div>
        <div class="card__actual__content">
            <div class="card__actual__time">
                <img src="{% static 'appeals/clock.svg' %}" alt="" class="time__image">
                {{ actual.date_created }}
            </div>
            <div class="card__actual__header">
                {{ actual.header }}
            </div>
            <div class="card__actual__summary">
                {{actual.summary}}
            </div>
            <div class="card__actual__button">
                <a href="#">Подробнее ⟶</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<style>
    
    .cards__actual {}

.card__actual {
    display: flex;
    gap: 16px;
    width: 968px;
    border-bottom: 1px solid #868693;
    padding-bottom: 44px;
    margin-bottom: 44px;
}

.card__actual__image {
    
    width: 275px;
    height: 180px;
}

.card__photo__actual {

    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}

.card__actual__time {
    color: #555555;
    font-size: 10px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.card__actual__content {
    display: flex;
    flex-direction: column;
    width: 677px;
}

.time__image {}

.card__actual__header {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 16px;
    letter-spacing: -0.02em;
    line-height: 20px;
}

.card__actual__summary {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: -0.02em;
}

.card__actual__button {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    cursor: pointer;
}
</style>