<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Мартынов Павел - Обращения</title>
    {% load static %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=5325d15d-232d-4c0f-880e-faa5da31699b&lang=ru_RU"
    type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.7/dist/inputmask.min.js"></script>
    
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/appeals.css' %}">
    
    <meta name = "description" content="Обращения по г.Витебск Чапаевского района">
    <meta property = "og:title" content="Мартынов Павел - Обращения">
    <meta property = "og:description" content="Обращения по г.Витебск Чапаевского района">
</head>
{% include 'ModalAppeals.html' %}
<body>

    {% include 'header.html' %}
    <main class="main">
        <div class="main__container">
            <div class="cards__container">
    {% include 'appealsCards.html' %}
    {% include 'pagination.html' %}
            </div>
            <div class="map__container">
                <div id="map1" style="width: 635px; height: 971px;"></div>
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
</body>

</html>
