{% load static %}

<div class="cards">
    {% for appeal in appeals %}
    <div class="card__appeal">
        <div class="card__statustime">
            <div class="card__status 
                {% if appeal.status == 'Исполнено' %}status--completed
                {% elif appeal.status == 'Отклонено' %}status--rejected
                {% endif %}">
                {{ appeal.status }}
            </div>
            <div class="card__time">
                <img src="{% static 'appeals/clock.svg' %}" alt="" class="time__image">
                {{ appeal.date }}
            </div>
        </div>
        <div class="card__header">
            {{ appeal.header }}
        </div>
        <div class="card__content">
            {% if appeal.photos %}
                <img src="{{ appeal.photos }}" alt="" class="card__photo">
            {% else %}
                <div class="card__text">{{ appeal.text|slice:":100" }}{% if appeal.text|length > 100 %}...{% endif %}</div>
            {% endif %}
        </div>
        <div class="card__button">
            <a href="#">Подробнее ⟶</a>
        </div>
    </div>
    {% endfor %}
</div>

<style lang="scss">
    .card__text {
        font-size: 12px;
        word-break: break-word;
    }
    .card__button {
        font-size: 12px;
        display: flex;
        justify-content: flex-end;
        margin-top: auto;
        cursor: pointer;
    }
    .card__status {
        font-size: 10px;
        border: 1px solid black; 
        padding: 8px 16px;
        border-radius: 30px;
    }

    /* Стили для разных статусов */
    .status--completed {
        color: #ffffff;
        background-color: #009739;
        border-color: #009739;
    }
    .status--rejected {
        color: #ffffff;
        background-color: #EA424C;
        border-color: #EA424C;
    }

    .card__time {
        font-size: 12px;
        color: #868693;
    }

    .card__statustime {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .card__header {
        font-weight: 500;
        font-size: 28px;
        margin-bottom: 16px;
    }

    .cards {}

    .card__appeal {
        display: flex;
        background-color: white;
        
        flex-direction: column;
        padding: 16px;
        border-radius: 12px;
        height: 273px;
        max-width: 296px;
    }
</style>
