<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Мартынов Павел - Биография</title>
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/biography.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <meta name = "description" content="Биография Павла Николаевича Мартынова">
    <meta property = "og:title" content="Мартынов Павел - Биография">
    <meta property = "og:description" content="Биография Павла Николаевича Мартынова">
</head>

<body>

    {% include 'header.html' %}
    <main class="content">
        <div class="container">
            <div class="left__side">
                <div class="content__header">
                    БИОГРАФИЯ
                </div>
                <div class="content__main">
                    <div class="h2">
                        <span class="h2__text">Смена отца во главе холдинга</span>
                    </div>
                    <div class="date__biography">
                        <img src="{% static 'biography/calendar.svg' %}" alt="" class="calendar"> <span
                            class="date__text">Октябрь 2022 г.</span>
                    </div>
                    <div class="notation">
                        После того как отец Павла Мартынова восстановил своё здоровье, в октябре 2022 года тот сменил
                        его на должности генерального директора управляющей компании холдинга «Марко». В прошлом году
                        Мартынов-старший говорил:
                    </div>
                    <div class="quote">
                        <div class="quote__container">
                            <div class="quote__text">
                                «Меня радует, что они (дети) не пошли по пути «купи-продай», им интересно производство.
                                Иногда они даже слишком усердствуют в стремлении расширяться, надо
                                сдерживать».Любопытно,
                                что совместное с белорусской компанией производство теперь действует в Узбекистане.
                            </div>
                            <div class="quote__image">
                                <img src="{% static 'biography/image.svg' %}" alt="" class="martynov__img">
                                Отец Павла Мартынова, Николай Мартынов
                            </div>
                        </div>
                    </div>
                    <div class="h2">
                        <span class="h2__text">Любовь к коллекционированию</span>
                    </div>
                    <div class="date__biography">
                        <img src="{% static 'biography/calendar.svg' %}" alt="" class="calendar"> <span
                            class="date__text">Сентрябрь 2017 г.</span>
                    </div>
                    <div class="quote">
                        <div class="quote__container">
                            <div class="quote__text">
                                В 2017 году Николай Мартынов рассказывал о том, что на производственной базе отдыха
                                предприятия хранится много раритетов: старые прялки, утюги, гармони, старинная мебель и
                                даже довоенная легковушка ЗИС. И сообщил, что его хобби перенял сын.
                            </div>
                            <div class="quote__image">
                                <img src="{% static 'biography/image2.svg' %}" alt="" class="martynov__img">
                                Принятие участия в торжественной линейке<br>04.09.2024
                            </div>
                        </div>
                        <div class="quote__container">
                            <div class="quote__image">
                                <img src="{% static 'biography/image2.svg' %}" alt="" class="martynov__img">
                                Принятие участия в торжественной линейке<br>04.09.2024
                            </div>
                            <div class="quote__text">
                                В 2017 году Николай Мартынов рассказывал о том, что на производственной базе отдыха
                                предприятия хранится много раритетов: старые прялки, утюги, гармони, старинная мебель и
                                даже довоенная легковушка ЗИС. И сообщил, что его хобби перенял сын.
                            </div>
                        </div>

                    </div>
                    <div class="h2">
                        <span class="h2__text">Смена отца во главе холдинга</span>
                    </div>
                    <div class="date__biography">
                        <img src="{% static 'biography/calendar.svg' %}" alt="" class="calendar"> <span
                            class="date__text">Сентябрь 2002 - Ноябрь 2012 г.</span>
                    </div>
                    <div class="notation">
                        Павел начал свою трудовую деятельность в качестве работника коммерческого отдела компании
                        «Эвимар». Затем он перешёл в «Сан Марко», специализирующуюся на производстве обуви для детей и
                        подростков. В итоге он стал заместителем директора по коммерческим вопросам, а затем и
                        директором компании. Павел руководил компанией «Сан Марко», которая является частью известного
                        холдинга, более 10 лет.<br>
                        <br>
                        В 2012 году Николай Мартынов пригласил Павла и его семью (внуков) на открытие
                        торгово-развлекательного комплекса «Марко-сити».
                    </div>
                    <div class="image__container">
                        <img src="{% static 'biography/image3.svg' %}" alt="" class="first__img">
                        <img src="{% static 'biography/image4.svg' %}" alt="" class="first__img">
                    </div>
                </div>
            </div>
            <div class="right__side">
                <div class="img__marko">
                    <img src="{% static 'biography/image5.svg' %}" alt="" class="marko">
                </div>
                <div class="marko__text">
                Один из магазинов компании<br> холдинга «Марко» 
            </div>
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
</body>

</style>

</html>
<style lang="scss">
    