{% load static %}

<footer class="footer">
    <div class="footer__container">
        <div class="footer__left">
            
            <div class="footer__text">
                МАРТЫНОВ ПАВЕЛ<br>
                <span>ЛИЧНЫЙ БЛОГ</span>
            </div>
        </div>
        <div class="footer__center">
            <ul class="footer__list">
                <li><a href="#">Актуальное</a></li>
                <li><a href="#">Медиа</a></li>
                <li><a href="#">Обращения</a></li>
                <li><a href="#">Биография</a></li>
            </ul>
        </div>
        <div class="footer__right">
            <button class="telegram__button">
                <img src="{% static 'footer/telegram.svg' %}" alt="" class="telegram__image">
                <a>Телеграм рассылка</a>
            </button>
            
        </div>
    </div>
    <div class="logos__container">
    <img src="{% static 'footer/Frame 96.svg' %}" alt="" class="logos__images" id="searchButton">
    </div>
</footer>

