<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Павел Мартынов - Главная</title>
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'styles/ActualGallery.css' %}">
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/MainPage.css' %}">
    <link rel="stylesheet" href="{% static 'styles/MediaGallery.css' %}">
    <link rel="stylesheet" href="{% static 'styles/AppealsCards.css' %}">
    <script src="{% static 'appeals/index.js' %}" type="module"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    <script src="{% static 'AppealsCards/index.js' %}" type="module"></script>
    <script src="{% static 'media/index.js' %}" type="module"></script>
    <meta name="description" content="Мне 41 год. Родился в г. Витебске. Трудовую деятельность начал в 2000 году с работы в
    качестве коммерческого агента в отделе сбыта фирмы «Марко». ">
    <meta property="og:title" content="Мартынов Павел - Главная">
    <meta property="og:description" content="Мне 41 год. Родился в г. Витебске. Трудовую деятельность начал в 2000 году с работы в
    качестве коммерческого агента в отделе сбыта фирмы «Марко». ">

</head>

<body>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    {% include 'header.html' %}
    <main class="mainPage-content">
        <div class="container">
            <div class="top-cards">
                <div class="gallery-block">
                    {% include 'galleryActual.html' %}
                </div>
                <div class="cards-block">
                    {% include 'ActualRightCards.html' %}
                </div>
            </div>
            <div class="main__cards-header">
                Медиа
            </div>
            <div class="MediaGallery-block">
            {% include 'MediaGallery.html' %}
            <div class="media-cards">
                {% include 'MainPageMediaCards.html' %}
            </div>
            </div>
            <div class="main__cards-header">
                Обращения
            </div>
            <div class="appeals-cards_container">
                {% include 'appealsCards.html' %}
            </div>
            <div class="gradient-container">
                <div class="load-more-container">
                    <div id="load-more-button" class="load-more-button">
                        Смотреть все обращения
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    {% include 'footer.html' %}
</body>


</html>