<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мартынов Павел - Медиа</title>
    {% load static %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=5325d15d-232d-4c0f-880e-faa5da31699b&lang=ru_RU"
    type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.7/dist/inputmask.min.js"></script>
    <script src="{% static 'media/index.js' %}" type="module"></script>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/media.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/ActualGallery.css' %}">
    <link rel="stylesheet" href="{% static 'styles/MediaGallery.css' %}">
    <link rel="stylesheet" href="{% static 'styles/gallerry.css' %}">
    <link rel="stylesheet" href="{% static 'styles/modal.css' %}">
    <link rel="stylesheet" href="{% static 'styles/header.css' %}">
    <meta name = "description" content="Медиа новости Павла Николаевича Мартынова">
    <meta property = "og:title" content="Мартынов Павел - Медиа">
    <meta property = "og:description" content="Медиа новости Павла Николаевича Мартынова">
</head>
{% include 'ModalAppeals.html' %}
<body>
    {% include 'header.html' %}
    <main class="content">
        <div class="container">
            <div class="top__content">
                <div class="left_main-content">
                    {% include 'MediaMainCard.html' %}
                </div>
                <div class="right_main-content">  
                        {% include 'rightCards.html' %}
                </div>
            </div>
            <div class="main__cards-header">
                Медиа
            </div>
            <div class="main__cards-content">
                {% include 'mediaCards.html' %}
            </div>
            {% if total_items > 8 %}
                {% include 'paginationForMedia.html' %}
            {% endif %}

            
        </div>
        </div>
        </div>
    </main>
    {% include 'footer.html' %}
</body>

</html>
