{% load static %}
<div class="card-container">
    <div class="card-wrapper">
        {% if medias1 %}
            <div class="gallery" style="background: linear-gradient(0deg, rgba(35, 35, 35, 0.6), rgba(35, 35, 35, 0.6)),
                linear-gradient(179.55deg, rgba(35, 35, 35, 0) 65.29%, rgba(35, 35, 35, 0.5) 99.62%),
                url('{% static 'image/' %}{{ medias1.0.main_photo }}');">
                <div class="gallery__block">
                    <div class="gallery__content">
                        <div class="gallery_card-header">
                            {{ medias1.0.header }}
                        </div>
                        <div class="gallery_card-summary">
                            {{ medias1.0.summary }}
                        </div>
                        <div class="gallery_card-button">
                            <a href="http://127.0.0.1:8000/media/{{medias1.0.slug}}">Подробнее ⟶</a>
                        </div>
                    </div>

                    <div class="gallery__date">
                        <div class="date-flag">
                            <div class="date-flag__day">{{ medias1.0.date_created|date:"d" }}</div>
                            <div class="date-flag__month">{{ medias1.0.date_created|date:"b" }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Пагинация внутри карточки -->
        {% endif %}

    </div>
</div>

