{% load static %}

<div class="main__cards">
    {% for item in medias %}
    <div class="main__card">
        <div class="main__card-date">
            <div class="main__date-flag">
                <div class="main__date-flag__day">{{ item.date_created|date:"d" }}</div>
                <div class="main__date-flag__month">{{ item.date_created|date:"b" }}</div>
            </div>
        </div>
        <div class="main__card-image">
            <img src="{% static 'image/' %}{{ item.main_photo }} " alt="" class="main__card-photo">
        </div>
        <div class="main__card-header">
            {{item.header|slice:43}}{% if item.header|length > 43 %}...{% endif %}
        </div>
        <div class="main__card-summary">
            {{item.summary|slice:137}}{% if item.summary|length > 137 %}...{% endif %}
        </div>
        <div class="main__card-button">
            <a href="http://127.0.0.1:8000/media/media/{{item.id}}">Подробнее ⟶</a>
        </div>
    </div>
    {% endfor %}
</div>

<style>
    .main__card-photo {
        width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
    
    }
    .main__cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 30px;
        grid-auto-flow: dense; /* Оптимизация заполнения */
        padding: 0;
 
        
    }
    .main__card {
        max-width: auto;
        max-height: auto;
        word-wrap: break-word;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .main__card-date {
        position: absolute; /* Размещаем поверх изображения */
        right: 29px;
        color: white; /* Белый текст */
   
    
    }
    .main__cards-content{
        padding-bottom: 72px;
        align-items: center;
        justify-content: center;
    }
    .main__date-flag {
        padding-bottom: 10px;
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 39px;
    height: 56px;
    background-color: green;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 75%, 0% 100%);
    }
    .main__date-flag__day {
        font-weight: 400;
        font-size: 20px;
        letter-spacing: -0,02em;
        line-height: 20px;
    }
    .main__date-flag__month {
        font-weight: 400;
        font-size: 12px;
        letter-spacing: -0,02em;
        line-height: 12px;
    }
    .main__card-image {
        max-width: auto;
        max-height: 128px;

    }
    .main__card-header {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: -0,02em;
        line-height: 20px;
        padding-top: 24px;
        padding-bottom: 16px;
    }
    .main__card-summary {
        font-weight: 400;
        font-size: 12px;
        letter-spacing: -0,02em;
        line-height: 12px;
    }
    .main__card-button {
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        margin-top: auto;
        cursor: pointer;

    }
</style>