{% load static %}

<div class="main__cards">
    {% for item in medias %}
    <div class="main__card" onclick="window.location.href='http://127.0.0.1:8000/media/{{item.slug}}'">
        <div class="main__card-date">
            <div class="main__date-flag">
                <div class="main__date-flag__day">{{ item.date_created|date:"d" }}</div>
                <div class="main__date-flag__month">{{ item.date_created|date:"b" }}</div>
            </div>
        </div>
        <div class="main__card-image">
            <img src="{% static 'image/' %}{{ item.main_photo }} " alt="" class="main__card-photo">
        </div>
        <div class="main__card-header">
            {{item.header|slice:43}}{% if item.header|length > 43 %}...{% endif %}
        </div>
        <div class="main__card-summary">
            {{item.summary|slice:110}}{% if item.summary|length > 110  %}...{% endif %}
        </div>
        <div class="main__card-button">
            <a href="http://127.0.0.1:8000/media/{{item.slug}}">Подробнее ⟶</a>
        </div>
    </div>
    {% endfor %}
</div>
