<div id="appealForm" class="modal" style="display: none;">
  <div class="modal-content">
    <!-- Карта -->
    <div class="map" id="map"></div>

    <!-- Форма -->
    <div class="form-container">
      <!-- Заголовок и крестик -->
      <div class="dialog-header">
        <div class="header-modal">Форма обращения</div>
        <span class="close-modal">&times;</span>
      </div>

      <!-- Первая часть: Ввод номера и подтверждение -->
      <div class = "step1" id="step1">
        <div class="name_surname">
          <div class="name-field">
            <label for="lastName">Фамилия:</label>
            <input type="text" id="lastName" name="last_name" placeholder="Прим. Иванов" />
          </div>
          <div class="surname-field">
            <label for="firstName">Имя:</label>
            <input type="text" id="firstName" name="first_name" placeholder="Прим. Иван" />
          </div>
        </div>

        <div class="data">
          
          <label for="patronymic">Отчество:</label>
          <input type="text" id="patronymic" name="patronymic" placeholder="Прим. Иванович" />

          <label for="phone">Телефон:</label>
          <input type="text" id="phone" name="phone" />

          <!-- Кнопка "Отправить код" -->
          <button id="sendCodeBtn">Отправить код</button>
        
        <!-- Поле ввода кода подтверждения -->
        <label for="code">Код подтверждения:</label>
        <div class="code-inputs">
          <input type="text" maxlength="1" class="code-box" />
          <input type="text" maxlength="1" class="code-box" />
          <input type="text" maxlength="1" class="code-box" />
          <input type="text" maxlength="1" class="code-box" />
        </div>
      </div>

      <!-- Кнопка подтверждения -->
      <div class="confirm_button">
        <button class="confirmCodeBtn" id="confirmCodeBtn" disabled>Подтвердить</button>
      </div>

      </div>

      <!-- Вторая часть: Появляется только после подтверждения номера -->
      <div id="step2" style="display: none;">
        <select id="category" name="category">
          <option value="" hidden selected>Выберите категорию</option>
          {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>
        <label for="text">Текст обращения:</label>
        <textarea id="text" name="text"></textarea>

        <label for="photos">Фото:</label>
        <input type="file" id="photos" name="photos" multiple />

        <button id="saveBtn">Отправить обращение</button>
      </div>
    </div>
  </div>
</div>
