<div class="pagination">
    {% if page > 1 %}
    <a href="?page={{ page|add:'-1' }}&per_page={{ per_page }}">⟵ Пред</a>
    {% endif %}

    {% if page > 3 %}
        <a href="?page=1&per_page={{ per_page }}">1</a>
        <span>...</span>
    {% endif %}

    {% for i in all_pages %}
        {% if i == page %}
            <span class="active">{{ i }}</span>  <!-- Текущая страница с активным классом -->
        {% elif i > page|add:'-3' and i < page|add:'3' %}
            <a href="?page={{ i }}&per_page={{ per_page }}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if page < total_pages|add:'-3' %}
        <span>...</span>
        <a href="?page={{ total_pages }}&per_page={{ per_page }}">{{ total_pages }}</a>
    {% endif %}

    {% if page < total_pages %}
    <a href="?page={{ page|add:'1' }}&per_page={{ per_page }}">След ⟶</a>
    {% endif %}
</div>

<div class="pagination-mobile">
    <div class="pagination-container">
        <a href="{% if page < total_pages %}?page={{ page|add:'1' }}&per_page={{ per_page }}{% else %}javascript:void(0){% endif %}" 
           class="next-page {% if page >= total_pages %}disabled{% endif %}">
            {% if page >= total_pages %}Последняя страница{% else %}Следующая страница{% endif %}
        </a>
        
        <select class="page-select" onchange="window.location.href=this.value">
            {% for i in all_pages %}
                <option value="?page={{ i }}&per_page={{ per_page }}" {% if i == page %}selected{% endif %}>
                    {{ i }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>

<style>
    .pagination {
        margin-top: 114px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #555555;
        gap: 12px;
    }

    .pagination a {
        text-decoration: none;
        color: #555555;
        padding: 6px 6px;
        border-radius: 5px;
    }

    .pagination a:hover {
        background-color: #f0f0f0;
    }

    .pagination .active {
        background-color: #EA424C;
        color: white;
        padding: 6px 6px;
        border-radius: 5px;
    }

    .pagination-mobile {
        display: none;
        margin-top: 32px;
    }

    .pagination-container {
        display: flex;
        position: relative;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }

    .next-page {
        flex-grow: 1;
        padding: 12px 24px;
        background-color: #EA424C;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 14px;
        text-align: left;
        padding-right: 50px;
    }

    .next-page.disabled {
        pointer-events: none;
        cursor: default;
    }

    .page-select {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 40px;
        padding: 0;
        border: none;
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        font-size: 14px;
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        cursor: pointer;
    }

    .page-select option {
        background-color: white;
        color: #555555;
    }

    @media (max-width: 768px) {
        .page-select,
        .next-page {
            background-color: transparent;
            color: var(--color-black);
            border: 1px solid var(--color-gray);
        }
        .pagination {
            display: none;
        }
        
        .pagination-mobile {
            display: block;
        }
    }
</style>