{% load static %}
<div class="right__cards">
{% for item in additional_data_1 %}
<div class="right__card" style="background: linear-gradient(0deg, rgba(35, 35, 35, 0.6), rgba(35, 35, 35, 0.6)),
                            linear-gradient(179.55deg, rgba(35, 35, 35, 0) 65.29%, rgba(35, 35, 35, 0.5) 99.62%),
                            url('{% static 'image/' %}{{ item.main_photo }}');">
    <div class="right__card-info">
        <div class="right__card-content">
            <div class="right_card-header">
                {{ item.header|slice:43 }}{% if item.header|length > 43 %}...{% endif %}
            </div>
            <div class="right_card-summary">
                {{ item.summary|slice:137 }}{% if item.summary|length > 137 %}...{% endif %}
            </div>
            <div class="right_card-button">
                <a href="#">Подробнее ⟶</a>
            </div>
        </div>
        <div class="right__card-date">
            <div class="right_date-flag">
                <div class="right__date-flag__day">{{ item.date_created|date:"d" }}</div>
                <div class="right__date-flag__month">{{ item.date_created|date:"b" }}</div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>

<style>
    
    .right_card-button {
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        margin-top: auto;
        cursor: pointer;
    }
    .right__card-info {
        width: 432px;
        height: 141px;
        display: flex;
        justify-content: space-between;
    }
    .right__card-content {
        width: 325px;
        display: flex;
        flex-direction: column;
        word-break: break-word;
        
    }
    .right_card-header {
        font-weight: 500;
        font-size: 28px;
        margin-bottom: 16px;
        letter-spacing: -0.02em;
        line-height: 28px;
    }
    .right_card-summary {
        font-weight: 400;
        font-size: 12px;
        letter-spacing: -0.02em;
        line-height: 12px;
    }
    .right_card-button {
    }
    .right__card-date {
        background-image: url("{% static 'media/Vector 1.svg' %}");
        width: 41px;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .right_date-flag {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 12px;
    }
    .right__date-flag__day {
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0,02em;
    }
    .right__date-flag__month {
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0,02em;
    }
    .right__cards {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .right__card a{
       color: white;
    }
    .right__card {
        color: white;
        border-radius: 6px;
        width: 525px;
        height: 225px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover !important;
        background-position: center !important;
    }
    .left_main-content {
        width: 745px;
        height: 480px;
    }

    .right_main-content {
        width: 525px;
        height: 480px;
    }
</style>