{% load static %}
<div class="right__cards">
{% for item1 in medias1|slice:"1:3" %}
<div class="right__card" style="background: linear-gradient(0deg, rgba(35, 35, 35, 0.6), rgba(35, 35, 35, 0.6)),
                            linear-gradient(179.55deg, rgba(35, 35, 35, 0) 65.29%, rgba(35, 35, 35, 0.5) 99.62%),
                            url('{% static 'image/' %}{{ item1.main_photo }}');">
    <div class="right__card-info">
        <div class="right__card-content">
            <div class="right_card-header">
                {{ item1.header|slice:43 }}{% if item1.header|length > 43 %}...{% endif %}
            </div>
            <div class="right_card-summary">
                {{ item1.summary|slice:137 }}{% if item1.summary|length > 137 %}...{% endif %}
            </div>
            <div class="right_card-button">
                <a href="http://127.0.0.1:8000/media/media/{{item1.id}}">Подробнее ⟶</a>
            </div>
        </div>
        <div class="right__card-date">
            <div class="right_date-flag">
                <div class="right__date-flag__day">{{ item1.date_created|date:"d" }}</div>
                <div class="right__date-flag__month">{{ item1.date_created|date:"b" }}</div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>
